@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    height: 10vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container .logo img {
    width: 80px;
    filter: drop-shadow(2px 2px 2px white);
}

.container .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container .hamburger i {
    font-size: 1.5rem;
    color: white;
}

.container .links {
    display: flex;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s linear;
    position: relative;
}

.links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: #f74f10;
    height: 3.5px;
    transition: 0.3s linear;
}

.links a:hover::before,
.links a:hover {
    color: blue;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.main-content {
    color: white;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.main-content h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2 {
    color: blue;
    font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}

.main-content p {
    margin-top: 10px;
    color: #635e5c;
}

.order {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    min-height: 7vh;
}

.order h3 {
    font-size: 1.8rem;
}

.order button {
    min-width: 50%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f74f10 40%, #8a3313);
    color: white;
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: 0.1s linear;
}

.order button:hover {
    box-shadow: 0 0 30px yellowgreen;
    background: linear-gradient(to bottom right, #8a3313, #f74f10 40%);
}

.image img {
    max-width: 100%;
    margin-top: 20px;
    filter: drop-shadow(-10px -10px 200px #f74f10);
}

@media (max-width: 800px) {
    .container .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: black;
        width: 100%;
        text-align: center;
    }

    .container .hamburger {
        display: block;
    }

    .container .hamburger i {
        font-size: 1.8rem;
    }

    .container .links.active {
        display: flex;
    }

    .links a {
        margin: 10px 0;
    }
}
